node_modules
.next
.env
.env.local
public/uploads/*
!public/uploads/.gitkeep
*.tsbuildinfo
next-env.d.ts
uploads/*
!uploads/.gitkeep

product-images-8k/

contracts/node_modules
contracts/cache
contracts/artifacts
contracts/typechain-types
